.carousel {
    position: relative;
    width: 30vh;
}
.carousel .slide {
    margin-top: 6vh;
}
.carousel.carousel-slider{
    margin-top: 6vh !important;
}
@media only screen and (max-width: 991px){
    .carousel .slide {
        margin-top: 0;
    }
}